#sidebar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body{
    background-color: azure;
}

#topnav{
    background-color: rgb(67, 50, 160);
    overflow: hidden;
}

#topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Capriola';font-size: 32px;
    font-size: 17px;
}

a:hover{
    background-color: crimson;
}

a:active{
    background-color: #ff813e;
}
#main{
    text-align: center;
    font-family: 'Capriola';font-size: 32px;
}
#secondary{
    text-align: center;
    font-family: 'Capriola';font-size: 25px;
}
p{
    font-family: 'Capriola';font-size: 20px;
    text-align: center;
}

button{
    width: 60px;
    height: 30px;
}

#result{
    display:none;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#doctor{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    height:200px;
}

#rText{
    text-align: center;
    font-family: 'Capriola';
    font-size: 15px;
}
#book{
    width:95px;
    height: 45px;
    margin: 0 auto;
    display: block;
}